.nav {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 80px;
  position: sticky;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
}

.nav__links {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 50%;
}

/* @media screen and (max-width: 1100px) {

  .nav {
    padding-right: 116px;
  }

  .nav__links {
    gap: 16px;
  }
} */